body {
    min-width: 1040px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: #404040;
    background-color: white;
}

.container {
    width: 805px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.page-header {
    min-height: 490px;
    padding-top: 60px;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page-header,
.page-footer {
    color: #c3c3c3;
    background-color: #000;
}

.header-top {
    margin-bottom: 130px;
}

.header-logo {
    float: left;
    width: 140px;
    height: 76px;
}

.header-logo img {
    width: 140px;
    height: 76px;
}

.main-nav {
    float: left;
    width: 600px;
    margin: 0;
    margin-top: 15px;
    margin-left: 55px;
    padding: 0;
    list-style: none;
	border-top: 1px solid rgba(255, 255, 255, 0.35);
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-nav li {
    float: left;
    margin-right: 63px;
    text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
}

.main-nav li:last-child {
    margin-right: 0;
}

.main-nav a {
    color: #ffffff;
    text-decoration: none;
}

.main-nav a:hover {
    color: rgba(255, 255, 255, 0.7);
}

.main-nav a:active {
    color: rgba(255, 255, 255, 0.3);
}

.promo {
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    font-family: "Arial", serif;
    text-align: center;
}

.promo p {
    color: #ffffff;
    text-decoration: none;
}

.btn {
    display: inline-block;
    width: 146px;
    padding: 10px;
    font: inherit;
    vertical-align: top;
    text-align: center;
    color: #a38b70;
    text-transform: uppercase;
    text-decoration: none;
    word-wrap: break-word;
    border: 2px solid #a38b70;
    border-radius: 2px;
}

.btn:hover {
    color: #8d745a;
    border-color: #8d745a;
}

.btn:active {
    color: rgba(141, 116, 90, 0.3);
    border-color: #8d745a;
}

.features {
    padding-top: 75px;
    padding-bottom: 75px;
	background-color: #ffcb78;
}

.features-box {
	width: 1015px;
    margin: 0 auto !important;
}

.features ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.feature-item {
    position: relative;
    float: left;
    width: 209px;
    padding-top: 15px;
    padding-right: 90px;
    padding-left: 90px;
    text-align: left;
    border-left: 1px solid #e7b66a;
}

.feature-item:first-child {
    border-left-color: transparent;
	padding-left: 0;
}

.feature-item:last-child {
	padding-right: 0;
}

.feature-title {
    margin: 0;
    margin-bottom: 20px;
	margin-top: 15px;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    font-family: "Arial", serif;
	text-transform: uppercase;
    color: #000;
}

.feature-item p {
    margin: 0;
    font-size: 16px;
	color: #464147;
}

.history {
    padding-top: 95px;
    padding-bottom: 95px;
    background-color: #fff;
}

.history .container {
    position: relative;
}


.section-title {
    margin: 0;
    margin-right: 180px;
    margin-bottom: 80px;
    font-weight: bold;
    font-size: 30px;
    line-height: 55px;
    font-family: "Arial", serif;
	text-transform: uppercase;
    color: #000;
}

.history dl {
    width: 800px;
    margin: 0;
    padding: 0;
}

.history dt {
    margin: 0;
    margin-bottom: 40px;
}

.history dd {
    position: relative;
    min-height: 100px;
    margin: 0;
    font-size: 16px;
}

.history dd + dt {
    margin-top: 70px;
}

.history dd img {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 101px;
    border-radius: 5px;
}

.history dd p {
    margin: 0;
	padding-right: 310px;
	line-height: 26px;
}

.reference-title {
    display: inline;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
}

.reference-source {
    font-size: 16px;
    color: #666666;
    font-style: italic;
	float: right;
}

.reference-source a {
    position: relative;
    color: #a96b25;
}

.reference-source a:hover {
    color: #8d745a;
}

.reference-source a:active {
    color: rgba(141, 116, 90, 0.3);
}

.reviews {
    padding-top: 95px;
    padding-bottom: 120px;
    background-color: #ede5d8;
}

.reviews .container {
    position: relative;
}

.reviews-list {
	width: 800px;
    margin: 0;
    padding: 0;
}

.review-item {
	margin: 0;
}

.reviews-list p {
	font-size: 15px;
	margin-right: 155px;
	line-height: 30px;
	margin-bottom: 45px;
}

.to-full-reference {
    position: absolute;
    left: 0;
	color: #a9a29b;
	border: 2px solid #a9a29b;
	font-size: 15px;
	font-weight: 500;
}

blockquote:after {
	content: '';
    background-image: url(../img/blockquote.png);
    background-repeat: no-repeat;
    left: -100px;
    display: block;
    top: 140px;
    width: 46px;
    height: 35px;
    padding: 0;
    position: absolute;
}

cite {
	float: right;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	font-style: normal;
	vertical-align: middle;
    line-height: 45px;
}

.page-footer .container {
	width: 1000px;
}

.page-footer {
    padding-top: 55px;
    padding-bottom: 55px;
}

.footer-top {
    margin-bottom: 45px;
}

.footer-logo {
    float: left;
    width: 140px;
    height: 76px;
	margin-left: 50px;
}

.footer-logo img {
    width: 140px;
    height: 76px;
}

.footer-middle {
    margin-bottom: 80px;
    padding-top: 15px;
}

.footer-menu {
    float: left;
    padding-left: 130px;
    vertical-align: middle;
    line-height: 50px;
}

.footer-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-menu li {
	display: inline;
	margin-right: 60px;
}

.footer-menu li:last-child {
    margin-right: 0;
}

.footer-menu a {
    font-size: 16px;
    color: #cbcbcb;
    text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}

.footer-menu a:hover {
    color: #ffffff;
}

.footer-menu a:active {
    color: rgba(255, 255, 255, 0.3);
}

.footer-bottom {
    padding-top: 50px;
}

.footer-social {
    float: left;
    width: 231px;
    font-size: 0;
}

.social-btn {
    display: inline-block;
    width: 75px;
    height: 65px;
    vertical-align: middle;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1);
	background-position: center;
}

.social-btn:hover {
    border-color: rgba(255, 255, 255, 0.3);
}

.social-btn:active {
    border-color: #ffffff;
    opacity: 0.1;
}

.social-btn-in {
	background-image: url("../img/inst.png");
	background-repeat: no-repeat;
}

.social-btn-fb {
	background-image: url("../img/face.png");
	background-repeat: no-repeat;
}

.social-btn-vk {
	background-image: url("../img/vk.png");
	background-repeat: no-repeat;
}

.footer-copyright {
	float: left;
    width: 200px;
    font-size: 14px;
    color: #999;
    margin-left: 90px;
    vertical-align: middle;
    line-height: 20px;
}

.footer-developer {
	float: right;
    color: #999;
}

.developer-text {
	margin-left: 25px;
    font-size: 15px;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}

.developer-text a {
    color: #999;
    text-decoration: none;
	font-weight: bold;
}

.developer-text a:hover {
    color: #ffffff;
}

.developer-text a:active {
    color: rgba(255, 255, 255, 0.3);
}